<!doctype html>
{% load staticfiles %}
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>黑客马拉松－kitchen</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="{% static 'food/images/favicon.png' %}">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'food/images/app-icon72x72@2x.png' %}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="{% static 'food/images/app-icon72x72@2x.png' %}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{% static 'food/images/app-icon72x72@2x.png' %}">
    <meta name="msapplication-TileColor" content="#0e90d2">


    <link type="text/css" rel="stylesheet" href="{% static 'food/materialize/css/materialize.min.css' %}"
          media="screen,projection"/>

</head>
<body>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'food/materialize/js/materialize.min.js' %}"></script>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="components.html">Components</a></li>
            <li><a href="javascript.html">JavaScript</a></li>
        </ul>
    </div>
</nav>
<h1>{{ user }} 的购物车</h1>
{% for order in orders %}
<h1>{{ order.price.tweet.title }}, {{ order.number }}个, {{ order.price.supplier.name }}, {{ order.price.value }}</h1>
{% endfor %}
<h1>总价: {{ total }}</h1>

<!--在这里编写你的代码-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{% static 'food/assets/js/jquery.min.js' %}"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
</body>
</html>
