{% extends "food/base.html" %}
{% load staticfiles %}
{% block header_name %}发现{% endblock %}
{% block page_content %}
<div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4"><a href="#test1">本季推荐</a></li>
                <li class="tab col s4"><a class="active" href="#test2">本周评论最多</a></li>
                <li class="tab col s4"><a href="#test3">本周购买最多</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12">本季推荐菜谱</div>
        <div id="test2" class="col s12">本周评论最多菜谱</div>
        <div id="test3" class="col s12">本周购买最多的菜谱</div>
    </div>
</div>
{% endblock %}
