{% extends "food/base.html" %}
{% load staticfiles %}
{% block page_content %}
<div>
    {% for tweet in tweets %}
    <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{% static 'food/images/dishes/' %}{{tweet.logo}}">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
                <a href="{% url 'food:tweet_detail' tweet.id %}">{{ tweet.title }}</a>
                <i class="mdi-navigation-more-vert right"></i></span>
            <ul>
                <a class="btn-floating btn-medium waves-effect waves-light red"
                   href="{% url 'food:discuss' tweet.id %}">
                    <i class="tiny mdi-editor-mode-comment"></i></a>
                <a class="btn-floating btn-medium waves-effect waves-light red"><i class="tiny mdi-action-thumb-up"></i></a>
            </ul>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ tweet.title }}
                <i class="mdi-navigation-close right"></i>
            </span>

            <p>{{ tweet.content }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
