{% load staticfiles %}
<html>
  <head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'food/materialize/css/materialize.min.css' %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>

  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'food/materialize/js/materialize.min.js' %}"></script>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Delicious</a>
            <ul class="right">
                <li><a href="#"><i class="mdi-content-add-circle"></i></a></li>
            </ul>
            </div>
        </nav>
    </div>
    <div>
      {% if tweets %}
      {% for tweet in tweets %}
      <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{% static 'food/images/dishes/' %}{{tweet.logo}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><a href="{% url 'food:tweet_detail' tweet.id %}">{{ tweet.title }}</a><i class="mdi-navigation-more-vert right"></i></span>
          <ul>
            <a class="btn-floating btn-medium waves-effect waves-light red"><i class="tiny mdi-social-share"></i></a>
            <a class="btn-floating btn-medium waves-effect waves-light red"><i class="tiny mdi-editor-mode-comment"></i></a>
            <a class="btn-floating btn-medium waves-effect waves-light red"><i class="tiny mdi-action-thumb-up"></i></a>
          </ul>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{ tweet.title }}<i class="mdi-navigation-close right"></i></span>
          <p>{{tweet.content}}</p>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>No data</p>
      {% endif %}
    </div>
    <div class="navbar-fixed" style="position: absolute;bottom: 0;">
        <nav>
          <div class="nav-wrapper">
            <ul class="center">
              <li><a href="#"><i class="mdi-action-home"></i></a></li>
              <li><a href="#"><i class="mdi-action-search"></i></a></li>
              <li><a href="#"><i class="mdi-social-person"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </body>
</html>
