<!doctype html>
{% load staticfiles %}
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>黑客马拉松－kitchen</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link type="text/css" rel="stylesheet" href="{% static 'food/materialize/css/materialize.min.css' %}"
          media="screen,projection"/>
    <script type="text/javascript" src="{% static 'food/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'food/materialize/js/materialize.min.js' %}"></script>

    <link rel="icon" type="image/png" href="{% static 'food/images/favicon.png' %}">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'food/images/app-icon72x72@2x.png' %}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="{% static 'food/images/app-icon72x72@2x.png' %}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{% static 'food/images/app-icon72x72@2x.png' %}">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="{% static 'food/css/amazeui.min.css' %}">
    <link rel="stylesheet" href="{% static 'food/css/app.css' %}">
</head>
<body>
<div class="menu">
    <div class="header">
        <ul>
            <li class="list1"><a href="{% url 'food:index' %}">返回</a></li>
            <li class="list2">菜谱正文</li>
            <li class="list3">● ● ●</li>
        </ul>
    </div>
    <div class="card">
        <img src="{% static 'food/images/dishes/' %}{{tweet.logo}}">

        <p>{{ tweet.title }}</p>

        <div class="info">
            <p>{{ tweet.content }}</p>
        </div>
    </div>

    <div class="material">
        <p>用料</p>
    </div>

    <table>
        <tbody>
        {% for ingredient in tweet.ingredient_set.all %}
        <tr>
            <td class="left">{{ ingredient.name }}</td>
            <td class="right">{{ ingredient.number }} {{ ingredient.unit }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="process">
        <p>做法</p>

        {% for step in tweet.procedure_set.all %}
        <div class="step">
            {% if step.picture %}
            <img src="{% static 'food/images/dishes/' %}{{ step.picture }}">
            {% endif %}
            <p>{{ step.step }} - {{ step.content }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="forward-head">
        <p>买家秀</p>
    </div>
    <div class="bottom">
        <ul>
            <li><img src="../images/menu-pic.jpg"></li>
            <li><img src="../images/menu-pic.jpg"></li>
            <li><img src="../images/menu-pic.jpg"></li>
        </ul>
    </div>

    <p>推荐供应商</p>

    <form action="{% url 'food:tweet_buy' tweet.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user" value="3"/>
        {% for price in tweet.price_set.all %}
        <p>
            <input name="price" value="{{ price.id }}" type="radio" id="price{{ price.id }}" checked="true"/>
            <label for="price{{ price.id }}">{{ price.supplier.name }}, {{ price.value }}元</label>
        </p>
        {% endfor %}

        <p>购买数量: <input type="text" name="number" value="1"/></p>

        <p><input type="submit" value="加入购物车"/></p>

    </form>

</div>

</body>
</html>
