/* Write your styles */


.header-info{
    position: fixed;
    height: 40px;
    width: 320px;
    background: #000;
    margin-top: -10px;
}
.header-info .header{
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: relative;
}
select{
    position: absolute;
    top: 10px;
    left: 10px;
}
.create{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20px;
}

.feed{
    width: 320px;
}
.feed .card{
    width: 320px;
    text-align: center;
    margin: 10px auto;
}
.feed .card img{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
.feed .card p{
    width: 300px;
    margin: 0 auto;
    padding: 3px 10px 3px 10px;
    line-height: 20px;
}
.feed .card .bottom ul{
    margin: 10px auto;
    padding: 0;
    width: 300px;
    overflow: hidden;
}
.feed .card .bottom ul li{
    width: 100px;
    float: left;
    list-style: none;
    border: 1px solid #000000;
}

.end-info{
    position: fixed;
    height: 40px;
    width: 320px;
    background: #000;
    /*margin-top: -10px;*/
    bottom: 0;
}
.end-info .end{
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: relative;
}
.end-info .end ul{
    margin: 0 auto;
    padding: 0;
    width: 300px;
    overflow: hidden;
}
.end-info .end ul li{
    width: 100px;
    float: left;
    list-style: none;
    border: 1px solid #000000;
}

.create-menu{
    position: fixed;
    height: 40px;
    width: 320px;
    background: #fff;
}
.create-menu .header{
    color: #63B8FF  ;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: relative;
}
.create-menu .header ul{
    margin: 0 auto;
    padding: 0;
    width: 300px;
    overflow: hidden;
}
.create-menu .header ul li{
    width: 100px;
    float: left;
    list-style: none;
    font-size: 20px;
}
.create-menu .header ul li.list1{
    color:#EEAD0E;
    margin-left: -20px;
    font-size: 15px;
}
.create-menu .header ul li.list2{
    color:#000000;
    margin-left: 10px;
}
.create-menu .header ul li.list3{
    color:#EEAD0E;
    margin-left: 10px;
    font-size: 15px;
}

.input-info{
    position: relative;
    height: 40px;
    width: 320px;
    margin-top: 120px;
}
.menu{
    position: relative;
    height: 40px;
    width: 320px;
    background: #fff;
}
.menu .header{
    color: #63B8FF  ;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: relative;
}
.menu .header ul{
    margin: 0 auto;
    padding: 0;
    width: 300px;
    overflow: hidden;
}
.menu .header ul li{
    width: 100px;
    float: left;
    list-style: none;
    font-size: 20px;
}
.menu .header ul li.list1{
    color:#EEAD0E;
    margin-left: -20px;
    font-size: 20px;
}
.menu .header ul li.list2{
    color:#000000;
    margin-left: 10px;
}
.menu .header ul li.list3{
    color:#EEAD0E;
    margin-left: 10px;
    font-size: 15px;
}


.menu .card{
    position: relative;
    width: 320px;
    text-align: center;
    margin: 10px auto;
}
.menu .card img{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
.menu .card p{
    width: 300px;
    margin: 30px auto;
    color:#EEAD0E;
    padding: 3px 10px 3px 10px;
    line-height: 20px;
    font-size: 30px;
}
/*.menu .card .name{*/
    /*position: absolute;*/
    /*margin: 0 auto;*/
/*}*/
/*.menu .card .name p{*/
    /*width: 300px;*/
    /*margin: 0 auto;*/
    /*padding: 3px 10px 3px 10px;*/
    /*line-height: 20px;*/
    /*font-size: 10px;*/
}
.menu .card .info{
    position: relative;
    margin: 0 auto;
}
.menu .card .info p{
    width: 300px;
    color:#a4241f;
    margin: 0 auto;
    padding: 3px 10px 3px 10px;
    line-height: 20px;
    font-size: 10px;
}
/*.menu .card ul li.list1{*/
    /*color:#EEAD0E;*/
    /*width: 170px;*/
    /*float: left;*/
    /*text-align: right;*/
    /*margin-left: 10px;*/
    /*font-size: 30px;*/
/*}*/

.menu .material{
    width: 300px;
    text-align: center;
    /*margin: 10px auto;*/
    padding: 30px 60px 30px 60px;
    /*padding: 3px 10px 3px 10px;*/
}
.menu .material p{
    font-size: 30px;
    position: relative;
    left: 10px;
    margin: 0 auto;
}

table tbody tr{
    width: 320px;
    text-align: center;
    margin: 10px auto;
}
table tbody tr .left{
    color:#EEAD0E;
    width: 150px;
    margin: 0 auto;
    padding: 3px 10px 3px 10px;
    line-height: 20px;
    font-size: 10px;

}
table tbody tr .right{
    color:#EEAD0E;
    width: 150px;
    margin: 0 auto;
    padding: 3px 10px 3px 10px;
    line-height: 20px;
    font-size: 10px;
}

.menu .process {
    width: 300px;
    text-align: center;
    /*margin: 10px auto;*/
    padding: 30px 60px 30px 60px;
    /*padding: 3px 10px 3px 10px;*/

}
.menu .process p{
    font-size: 30px;
    position: relative;
    left: 10px;
    margin: 0 auto;
}
.menu .step{
    width: 320px;
    text-align: center;
    margin: 10px auto;
}
.menu .step img{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
.menu .step p{
    width: 300px;
    margin: 0 auto;
    padding: 3px 10px 3px 10px;
    line-height: 20px;
    font-size: 10px;
}
.menu .forward-head{
    position: relative;
    margin: 0 auto;
}
.menu .forward-head p{
    width: 320px;
    margin: 0 auto;
    padding: 3px 10px 3px 10px;
    line-height: 20px;
    font-size: 10px;
}
/*.menu .bottom{*/
    /*width: 320px;*/
    /*text-align: center;*/
    /*margin: 10px auto;*/
/*}*/
.menu .bottom ul{
    margin: 0 auto;
    padding: 0;
    width: 300px;
}
.menu .bottom ul li{
    width: 100px;
    float: left;
    list-style: none;
    /*border: 1px solid #000000;*/
}
.menu .bottom ul li img{
    width: 100px;
    height: 80px;
    margin: 0 auto;
}

.menu .sell ul{
    margin: 40px auto;
    padding: 0;
    width: 300px;
    /*overflow: hidden*/
}
.menu .sell ul li{
    width: 150px;
    float: left;
    list-style: none;
    /*border: 1px solid #000000;*/
}
.menu .sell ul li img{
    width: 100px;
    height: 80px;
    margin: 0 auto;
}


.menu .shop-head{
    position: relative;
    margin: 0 auto;
}
.menu .shop-head p{
    width: 320px;
    margin: 0 auto;
    padding: 3px 10px 3px 10px;
    line-height: 20px;
    font-size: 10px;
}
table tbody tr{
    position: relative;
    width: 320px;
    text-align: center;
    margin: 0 auto;
}
table tbody tr .shop{
    color:#EEAD0E;
    width: 200px;
    margin: 0 auto;
    padding: 3px 10px 3px 10px;
    line-height: 20px;
    font-size: 10px;

}
table tbody tr .price{
    color:#EEAD0E;
    width: 50px;
    margin: 0 auto;
    padding: 3px 10px 3px 10px;
    line-height: 20px;
    font-size: 10px;

}
table tbody tr .select img{
    width: 50px;
    height: 80px;
    margin: 0 auto;
}
